<h1>ScrapingItem#index</h1>
<p>Find me in app/views/scraping_item/index.html.erb</p>

<%@scraping_item.each do|element|%>
 <%= element.name %>
<%end%>
<% @scraping_item do |title| %>

#画像の表示
<div>
<img src="<%=@image_path %>">
</div>
<% end %>
